#create_table > tr {
  border: 0px;
}

#create_table > tr > td {
  padding: 6px;
}

#create_table {
  margin-right: auto;
}

.temp {
  border: 1px solid black;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: rgba(94, 192, 196, 0.4);
}


/**
0, 234, 242
**/